
         <rollback>
             <addDefaultValue
                     columnDataType="${dataType}"
                     columnName="${columnName}"
                     ${oldDefaultValue}
                     tableName="${tableName}"/>
         </rollback>
