
    @Override
    public boolean equals(java.lang.Object obj) {
        if (this == obj) {
            return true;
        }
        if (obj == null || !(obj instanceof ${class})) {
            return false;
        }
        ${class} that = (${class}) obj;
        return Objects.equals(getObjectId(), that.getObjectId());
    }

    @Override
    public int hashCode() {
        return Objects.hash(getObjectId());
    }

